In [1]:
# importing necessary packages

from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.chrome.options import Options

import time
import pprint
import pymongo
from pymongo import MongoClient
import pandas as pd
import tqdm

import psycopg2
from sqlalchemy import create_engine

In [2]:
# defining a universal pause time
SCROLL_PAUSE_TIME = 1.5

In [3]:
# creating a connection
conn = psycopg2.connect(
        database = 'tfl_database',
        user = 'postgres',
        password = 'Hemanthkumar#1',
        host = 'localhost',
        port = '5432'
)

# creating a cursor object
cursor = conn.cursor()

In [4]:
# fetching the table
cursor.execute('SELECT * FROM underground_stations')

result = cursor.fetchall()

# converting the table to a pandas dataframe
stations_df = pd.DataFrame(result)
stations_df.columns = ['station_id', 'station', 'lines', 'local_authority', 'fare_zone', 'opened_on', 'annual_usage', 'area_served', 'url']
stations_df.set_index('station_id', inplace=True)
stations_df.head()

,station,lines,local_authority,fare_zone,opened_on,annual_usage,area_served,url
station_id,,,,,,,,
0,Acton Town,DP,Ealing,3,01-07-1879,4.93,Acton,https://www.google.com/maps?q=Acton+Town+Under...
1,Aldgate,OM,City of London,1,18-11-1876,6.90,Portsoken,https://www.google.com/maps?q=Aldgate+Undergro...
2,Aldgate East,DH,Tower Hamlets,1,06-10-1884,10.23,Whitechapel,https://www.google.com/maps?q=Aldgate+East+Und...
3,Alperton,P,Brent,4,28-06-1903,2.30,Alperton,https://www.google.com/maps?q=Alperton+Undergr...
4,Amersham,M,Bucking­ham­shire,9,01-09-1892,1.66,Amersham,https://www.google.com/maps?q=Amersham+Undergr...

In [5]:
# checking if the URLs in the list are correct

# creating a chrome webdriver
driver = webdriver.Chrome()

# list for incorrect URLs
indices = []
names = []
lines = []
urls = []

# loop to find out the incorrect URLs
for i in tqdm.tqdm(range(len(stations_df))):
        # getting the URLs
        driver.get(stations_df['url'][i])
        
        # Clicking the accept button
        if i == 0:
            accept_button = driver.find_element(By.XPATH, '//*[@id="yDmH0d"]/c-wiz/div/div/div/div[2]/div[1]/div[3]/div[1]/div[1]/form[2]/div/div/button/span')
            accept_button.click()
        
        # Checking if the element exists
        try:
                time.sleep(SCROLL_PAUSE_TIME)
                # driver.find_element(By.XPATH, '//*[@id="QA0Szd"]/div/div/div[1]/div[2]/div/div[1]/div/div/div[2]/div/div[1]/div[2]/div/div[1]/div[2]/span[1]')
                driver.find_element(By.XPATH, '/html/body/div[3]/div[8]/div[9]/div/div/div[1]/div[2]/div/div[1]/div/div/div[2]/div/div[1]/div[2]/div/div[1]/div[2]/span[1]/span[2]')
                # //*[@id="QA0Szd"]/div/div/div[1]/div[2]/div/div[1]/div/div/div[2]/div/div[1]/div[2]/div/div[1]/div[2]
                #driver.find_element(By.XPATH, '//*[@id="QA0Szd"]/div/div/div[1]/div[2]/div/div[1]/div/div/div[2]/div/div[1]/div[2]/div/div[1]/div[2]')
                #driver.find_element(By.XPATH, '//*[@id="QA0Szd"]/div/div/div[1]/div[2]/div/div[1]/div/div/div[2]/div/div[1]/div[1]/h1')

        # Appending the incorrect URLs to the bad_list
        except:
                indices.append(stations_df.index[i])
                names.append(stations_df['station'][i])
                lines.append(stations_df['lines'][i])
                urls.append(stations_df['url'][i])

                # bad_list.append(links_list[i])

100%|██████████| 272/272 [12:20<00:00,  2.72s/it]

In [8]:
pprint.pprint(len(indices))
#pprint.pprint(names)
#pprint.pprint(lines)
#pprint.pprint(urls)

30

In [9]:
# making a dataframe of of the wrong urls
correct_dict = {'index': indices, 'station': names, 'lines': lines, 'url': urls}
correct_df = pd.DataFrame(correct_dict)

In [10]:
print(len(correct_df))
correct_df.set_index('index', inplace=True)
correct_df.head()

30

,station,lines,url
index,,,
1,Aldgate,OM,https://www.google.com/maps?q=Aldgate+Undergro...
13,Barking,DH,https://www.google.com/maps?q=Barking+Undergro...
22,Blackfriars,OD,https://www.google.com/maps?q=Blackfriars+Unde...
41,Chalfont & Latimer,M,https://www.google.com/maps?q=Chalfont+&+Latim...
51,Clapham South,N,https://www.google.com/maps?q=Clapham+South+Un...

In [11]:
# saving the dataframe as csv
correct_df.to_csv('C:/Users/snkri/OneDrive/Desktop/tfl_project/bad_stations.csv')

In [47]:
# reading the dataframe with correct urls 
good_urls = pd.read_csv('C:/Users/snkri/OneDrive/Desktop/tfl_project/good_stations.csv', index_col=0)

good_urls.head()

,station,lines,url
index,,,
1,Aldgate,OM,https://www.google.com/maps/place/Aldgate/@51....
13,Barking,DH,https://www.google.com/maps/place/Barking/@51....
41,Chalfont & Latimer,M,https://www.google.com/maps/place/Chalfont+%26...
50,Clapham South,N,https://www.google.com/maps/place/Clapham+Sout...
71,Elephant & Castle,BN,https://www.google.com/maps/place/Elephant+%26...

In [60]:
# replacing the wrong urls
for i in good_urls.index:
        stations_df.at[i, 'url'] = good_urls.at[i, 'url']

In [ ]:
# uploading the correct dataframe
# creating an engine
engine = create_engine('postgresql+psycopg2://postgres:Hemanthkumar#1@localhost:5432/tfl_database')

# uploading the dataframe to postgresql
stations_df.to_sql('underground_stations', engine, if_exists='replace')