In [110]:
# importing necessary packages

from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.chrome.options import Options

import time
import pprint
import pymongo
from pymongo import MongoClient
import pandas as pd
import re

import psycopg2
from sqlalchemy import create_engine

In [123]:
# defining a universal pause time
SCROLL_PAUSE_TIME = 0.5

In [93]:
# Reading the stations list
stations_df = pd.read_csv("C:/Users/snkri/OneDrive/Desktop/tfl_project/tube_stations_list.csv", index_col=0)

# Displaying the head
stations_df.head()

,Station,Photograph,Line(s) [*],Local authority,Zone [†],Opened [5],Resited,Main line opened,Other name(s) [note 2],Annual usage (millions) [6],Area Served,URL
0,Acton Town,NaN,DistrictPiccadilly,Ealing,3,1 Jul 1879,NaN,NaN,Mill Hill Park: 1879–1910,4.93,Acton,https://www.google.com/maps?q=Acton+Town+Under...
1,Aldgate,NaN,Metropolitan[a]Circle,City of London,1,18 Nov 1876,NaN,NaN,NaN,6.90,Portsoken,https://www.google.com/maps?q=Aldgate+Undergro...
2,Aldgate East,NaN,Hammersmith & City[d]District,Tower Hamlets,1,6 Oct 1884,31 Oct 1938,NaN,Commercial Road: (Proposed before opening),10.23,Whitechapel,https://www.google.com/maps?q=Aldgate+East+Und...
3,Alperton,NaN,Piccadilly[h],Brent,4,28 Jun 1903,NaN,NaN,Perivale-Alperton: 1903–10,2.30,Alperton,https://www.google.com/maps?q=Alperton+Undergr...
4,Amersham,NaN,Metropolitan,Buckinghamshire,9,1 Sep 1892,NaN,NaN,Amersham: 1892–1922Amersham & Chesham Bois: 19...,1.66,Amersham,https://www.google.com/maps?q=Amersham+Undergr...

In [94]:
# column names
stations_df.columns

Index(['Station', 'Photograph', 'Line(s) [*]', 'Local authority', 'Zone [†]',
       'Opened [5]', 'Resited', 'Main line opened', 'Other name(s) [note 2]',
       'Annual usage (millions) [6]', 'Area Served', 'URL'],
      dtype='object')

In [95]:
# dropping unnecessary columns
stations_df.drop(['Photograph', 'Resited', 'Other name(s) [note 2]', 'Main line opened'], inplace=True, axis=1)

stations_df.head()

,Station,Line(s) [*],Local authority,Zone [†],Opened [5],Annual usage (millions) [6],Area Served,URL
0,Acton Town,DistrictPiccadilly,Ealing,3,1 Jul 1879,4.93,Acton,https://www.google.com/maps?q=Acton+Town+Under...
1,Aldgate,Metropolitan[a]Circle,City of London,1,18 Nov 1876,6.90,Portsoken,https://www.google.com/maps?q=Aldgate+Undergro...
2,Aldgate East,Hammersmith & City[d]District,Tower Hamlets,1,6 Oct 1884,10.23,Whitechapel,https://www.google.com/maps?q=Aldgate+East+Und...
3,Alperton,Piccadilly[h],Brent,4,28 Jun 1903,2.30,Alperton,https://www.google.com/maps?q=Alperton+Undergr...
4,Amersham,Metropolitan,Buckinghamshire,9,1 Sep 1892,1.66,Amersham,https://www.google.com/maps?q=Amersham+Undergr...

In [96]:
# renaming the column names
stations_df.columns = ['station', 'lines', 'local_authority', 'fare_zone', 'opened_on', 'annual_usage', 'area_served', 'url']

# remaning the index
stations_df.index.name = 'station_id'

stations_df.head()

,station,lines,local_authority,fare_zone,opened_on,annual_usage,area_served,url
station_id,,,,,,,,
0,Acton Town,DistrictPiccadilly,Ealing,3,1 Jul 1879,4.93,Acton,https://www.google.com/maps?q=Acton+Town+Under...
1,Aldgate,Metropolitan[a]Circle,City of London,1,18 Nov 1876,6.90,Portsoken,https://www.google.com/maps?q=Aldgate+Undergro...
2,Aldgate East,Hammersmith & City[d]District,Tower Hamlets,1,6 Oct 1884,10.23,Whitechapel,https://www.google.com/maps?q=Aldgate+East+Und...
3,Alperton,Piccadilly[h],Brent,4,28 Jun 1903,2.30,Alperton,https://www.google.com/maps?q=Alperton+Undergr...
4,Amersham,Metropolitan,Buckinghamshire,9,1 Sep 1892,1.66,Amersham,https://www.google.com/maps?q=Amersham+Undergr...

In [97]:
# list of the tube lines
tube_lines = ['bakerloo', 'central', 'circle', 'district', 'hammersmith & city', 'jubilee', 'metropolitan', 'northern', 'piccadilly', 'victoria', 'waterloo & city']

# dictionary of tube lines and their code
tube_lines_dict = {'bakerloo': 'B', 'central': 'C', 'circle': 'O', 'hammersmith & city': 'H', 'jubilee': 'J', 'metropolitan': 'M', 'northern': 'N', 'piccadilly': 'P', 'victoria': 'V', 'waterloo & city': 'W', 'district': 'D'}

In [98]:
# replacing the name of the lines with their respective codes
lines = []

for line in stations_df['lines'].to_list():
        temp_s = ""
        for l in tube_lines:
                if l in line.lower():
                        temp_s = temp_s + tube_lines_dict[l]
        lines.append(temp_s)


stations_df['lines'] = lines

['DP', 'OM', 'DH', 'P', 'M', 'N', 'N', 'P', 'P', 'BOHJM', 'N', 'CNW', 'OHM', 'DH', 'C', 'DP', 'N', 'OD', 'D', 'N', 'J', 'C', 'OD', 'V', 'CJ', 'N', 'P', 'P', 'DH', 'N', 'V', 'DH', 'C', 'N', 'P', 'N', 'J', 'J', 'J', 'OD', 'J', 'M', 'N', 'C', 'BN', 'M', 'C', 'D', 'M', 'N', 'N', 'N', 'P', 'N', 'N', 'P', 'M', 'D', 'D', 'C', 'J', 'CD', 'DP', 'DP', 'C', 'N', 'DH', 'D', 'MP', 'N', 'B', 'ODH', 'BN', 'D', 'BODN', 'C', 'NV', 'OHM', 'C', 'OHM', 'N', 'JM', 'PV', 'D', 'C', 'ODP', 'N', 'OH', 'N', 'C', 'OHM', 'C', 'JPV', 'D', 'C', 'DP', 'OH', 'N', 'C', 'B', 'B', 'M', 'P', 'P', 'P', 'P', 'N', 'N', 'V', 'N', 'OD', 'MP', 'CP', 'C', 'P', 'D', 'P', 'P', 'P', 'P', 'MP', 'N', 'B', 'D', 'N', 'B', 'D', 'J', 'B', 'J', 'OHMNPV', 'P', 'OH', 'B', 'C', 'OH', 'NP', 'C', 'C', 'COHM', 'JN', 'C', 'B', 'P', 'OD', 'C', 'B', 'CDH', 'N', 'OD', 'OHMN', 'M', 'N', 'N', 'J', 'C', 'N', 'C', 'P', 'J', 'M', 'B', 'P', 'C', 'M', 'M', 'M', 'COD', 'P', 'N', 'P', 'N', 'BCV', 'BOD', 'OH', 'P', 'D', 'C', 'BP', 'V', 'M', 'DH', 'M', 'D', 'B', 'J', 'C', 'D', 'MP', 'C', 'B', 'D', 'M', 'C', 'OH', 'MP', 'C', 'MP', 'P', 'OD', 'J', 'C', 'V', 'C', 'OH', 'OD', 'C', 'P', 'P', 'ODP', 'B', 'C', 'N', 'C', 'D', 'P', 'J', 'D', 'J', 'DH', 'NV', 'B', 'CJ', 'P', 'P', 'J', 'OD', 'C', 'N', 'N', 'CN', 'V', 'N', 'OD', 'N', 'DP', 'P', 'D', 'D', 'D', 'DH', 'MP', 'V', 'ODV', 'V', 'C', 'NV', 'B', 'BJNW', 'M', 'B', 'JM', 'C', 'D', 'N', 'DHJ', 'J', 'M', 'D', 'C', 'OH', 'ODJ', 'C', 'DH', 'J', 'B', 'D', 'D', 'P', 'OH', 'C', 'N']

In [99]:
stations_df.head()

,station,lines,local_authority,fare_zone,opened_on,annual_usage,area_served,url
station_id,,,,,,,,
0,Acton Town,DP,Ealing,3,1 Jul 1879,4.93,Acton,https://www.google.com/maps?q=Acton+Town+Under...
1,Aldgate,OM,City of London,1,18 Nov 1876,6.90,Portsoken,https://www.google.com/maps?q=Aldgate+Undergro...
2,Aldgate East,DH,Tower Hamlets,1,6 Oct 1884,10.23,Whitechapel,https://www.google.com/maps?q=Aldgate+East+Und...
3,Alperton,P,Brent,4,28 Jun 1903,2.30,Alperton,https://www.google.com/maps?q=Alperton+Undergr...
4,Amersham,M,Buckinghamshire,9,1 Sep 1892,1.66,Amersham,https://www.google.com/maps?q=Amersham+Undergr...

In [101]:
# collecting the unclean numbers from annual_usage column
bad_num = []
for num in stations_df['annual_usage'].to_list():
        try:
                float(num)
        except:
                bad_num.append(num)

In [102]:
# cleaning the unclean numbers
correct_num = []
for num in stations_df['annual_usage'].to_list():
        correct_num.append(float(re.sub("\[.*?\]","",num)))

In [103]:
# replacing the unclean numbers with clean numbers in annual_usage
stations_df['annual_usage'] = correct_num
stations_df.head()

,station,lines,local_authority,fare_zone,opened_on,annual_usage,area_served,url
station_id,,,,,,,,
0,Acton Town,DP,Ealing,3,1 Jul 1879,4.93,Acton,https://www.google.com/maps?q=Acton+Town+Under...
1,Aldgate,OM,City of London,1,18 Nov 1876,6.90,Portsoken,https://www.google.com/maps?q=Aldgate+Undergro...
2,Aldgate East,DH,Tower Hamlets,1,6 Oct 1884,10.23,Whitechapel,https://www.google.com/maps?q=Aldgate+East+Und...
3,Alperton,P,Brent,4,28 Jun 1903,2.30,Alperton,https://www.google.com/maps?q=Alperton+Undergr...
4,Amersham,M,Buckinghamshire,9,1 Sep 1892,1.66,Amersham,https://www.google.com/maps?q=Amersham+Undergr...

In [104]:
# checking for null values
stations_df.isnull().any()

station            False
lines              False
local_authority    False
fare_zone          False
opened_on          False
annual_usage       False
area_served        False
url                False
dtype: bool

In [105]:
stations_df.head()

,station,lines,local_authority,fare_zone,opened_on,annual_usage,area_served,url
station_id,,,,,,,,
0,Acton Town,DP,Ealing,3,1 Jul 1879,4.93,Acton,https://www.google.com/maps?q=Acton+Town+Under...
1,Aldgate,OM,City of London,1,18 Nov 1876,6.90,Portsoken,https://www.google.com/maps?q=Aldgate+Undergro...
2,Aldgate East,DH,Tower Hamlets,1,6 Oct 1884,10.23,Whitechapel,https://www.google.com/maps?q=Aldgate+East+Und...
3,Alperton,P,Brent,4,28 Jun 1903,2.30,Alperton,https://www.google.com/maps?q=Alperton+Undergr...
4,Amersham,M,Buckinghamshire,9,1 Sep 1892,1.66,Amersham,https://www.google.com/maps?q=Amersham+Undergr...

In [107]:
# creating a connection with database
conn = psycopg2.connect(
    database='tfl_database',
    user='postgres',
    password='Hemanthkumar#1',
    host='localhost',
    port='5432'
)

In [112]:
# creating a cursor object
cursor = conn.cursor()

# creating an engine
engine = create_engine('postgresql+psycopg2://postgres:Hemanthkumar#1@localhost:5432/tfl_database')

In [113]:
# uploading the dataframe to postgresql
stations_df.to_sql('underground_stations', engine, if_exists='replace')

272

In [122]:
# testing if the data is uploaded to the dataframe
# executing the script
cursor.execute('SELECT * FROM underground_stations')

# fetching the table
table = cursor.fetchall()

test_df = pd.DataFrame(table)
test_df.columns = ['station_id', 'station', 'lines', 'local_authority', 'fare_zone', 'opened_on', 'annual_usage', 'area_served', 'url']
test_df.set_index('station_id', inplace=True)
test_df.head()

,station,lines,local_authority,fare_zone,opened_on,annual_usage,area_served,url
station_id,,,,,,,,
0,Acton Town,DP,Ealing,3,1 Jul 1879,4.93,Acton,https://www.google.com/maps?q=Acton+Town+Under...
1,Aldgate,OM,City of London,1,18 Nov 1876,6.90,Portsoken,https://www.google.com/maps?q=Aldgate+Undergro...
2,Aldgate East,DH,Tower Hamlets,1,6 Oct 1884,10.23,Whitechapel,https://www.google.com/maps?q=Aldgate+East+Und...
3,Alperton,P,Brent,4,28 Jun 1903,2.30,Alperton,https://www.google.com/maps?q=Alperton+Undergr...
4,Amersham,M,Buckinghamshire,9,1 Sep 1892,1.66,Amersham,https://www.google.com/maps?q=Amersham+Undergr...