In [24]:
# importing necessary packages

from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.chrome.options import Options

import time
import pprint
import pymongo
from pymongo import MongoClient
import pandas as pd
import re
import datetime

import psycopg2
from sqlalchemy import create_engine

In [2]:
# defining a universal pause time
SCROLL_PAUSE_TIME = 0.5

In [4]:
# Reading the stations list
stations_df = pd.read_csv("C:/Users/snkri/OneDrive/Desktop/tfl_project/tube_stations_list.csv", index_col=0)

# Displaying the head
stations_df.head()

,Station,Photograph,Line(s) [*],Local authority,Zone [†],Opened [5],Resited,Main line opened,Other name(s) [note 2],Annual usage (millions) [6],Area Served,URL
0,Acton Town,NaN,DistrictPiccadilly,Ealing,3,1 Jul 1879,NaN,NaN,Mill Hill Park: 1879–1910,4.93,Acton,https://www.google.com/maps?q=Acton+Town+Under...
1,Aldgate,NaN,Metropolitan[a]Circle,City of London,1,18 Nov 1876,NaN,NaN,NaN,6.90,Portsoken,https://www.google.com/maps?q=Aldgate+Undergro...
2,Aldgate East,NaN,Hammersmith & City[d]District,Tower Hamlets,1,6 Oct 1884,31 Oct 1938,NaN,Commercial Road: (Proposed before opening),10.23,Whitechapel,https://www.google.com/maps?q=Aldgate+East+Und...
3,Alperton,NaN,Piccadilly[h],Brent,4,28 Jun 1903,NaN,NaN,Perivale-Alperton: 1903–10,2.30,Alperton,https://www.google.com/maps?q=Alperton+Undergr...
4,Amersham,NaN,Metropolitan,Buckinghamshire,9,1 Sep 1892,NaN,NaN,Amersham: 1892–1922Amersham & Chesham Bois: 19...,1.66,Amersham,https://www.google.com/maps?q=Amersham+Undergr...

In [5]:
# column names
stations_df.columns

Index(['Station', 'Photograph', 'Line(s) [*]', 'Local authority', 'Zone [†]',
       'Opened [5]', 'Resited', 'Main line opened', 'Other name(s) [note 2]',
       'Annual usage (millions) [6]', 'Area Served', 'URL'],
      dtype='object')

In [6]:
# dropping unnecessary columns
stations_df.drop(['Photograph', 'Resited', 'Other name(s) [note 2]', 'Main line opened'], inplace=True, axis=1)

stations_df.head()

,Station,Line(s) [*],Local authority,Zone [†],Opened [5],Annual usage (millions) [6],Area Served,URL
0,Acton Town,DistrictPiccadilly,Ealing,3,1 Jul 1879,4.93,Acton,https://www.google.com/maps?q=Acton+Town+Under...
1,Aldgate,Metropolitan[a]Circle,City of London,1,18 Nov 1876,6.90,Portsoken,https://www.google.com/maps?q=Aldgate+Undergro...
2,Aldgate East,Hammersmith & City[d]District,Tower Hamlets,1,6 Oct 1884,10.23,Whitechapel,https://www.google.com/maps?q=Aldgate+East+Und...
3,Alperton,Piccadilly[h],Brent,4,28 Jun 1903,2.30,Alperton,https://www.google.com/maps?q=Alperton+Undergr...
4,Amersham,Metropolitan,Buckinghamshire,9,1 Sep 1892,1.66,Amersham,https://www.google.com/maps?q=Amersham+Undergr...

In [7]:
# renaming the column names
stations_df.columns = ['station', 'lines', 'local_authority', 'fare_zone', 'opened_on', 'annual_usage', 'area_served', 'url']

# remaning the index
stations_df.index.name = 'station_id'

stations_df.head()

,station,lines,local_authority,fare_zone,opened_on,annual_usage,area_served,url
station_id,,,,,,,,
0,Acton Town,DistrictPiccadilly,Ealing,3,1 Jul 1879,4.93,Acton,https://www.google.com/maps?q=Acton+Town+Under...
1,Aldgate,Metropolitan[a]Circle,City of London,1,18 Nov 1876,6.90,Portsoken,https://www.google.com/maps?q=Aldgate+Undergro...
2,Aldgate East,Hammersmith & City[d]District,Tower Hamlets,1,6 Oct 1884,10.23,Whitechapel,https://www.google.com/maps?q=Aldgate+East+Und...
3,Alperton,Piccadilly[h],Brent,4,28 Jun 1903,2.30,Alperton,https://www.google.com/maps?q=Alperton+Undergr...
4,Amersham,Metropolitan,Buckinghamshire,9,1 Sep 1892,1.66,Amersham,https://www.google.com/maps?q=Amersham+Undergr...

In [8]:
# list of the tube lines
tube_lines = ['bakerloo', 'central', 'circle', 'district', 'hammersmith & city', 'jubilee', 'metropolitan', 'northern', 'piccadilly', 'victoria', 'waterloo & city']

# dictionary of tube lines and their code
tube_lines_dict = {'bakerloo': 'B', 'central': 'C', 'circle': 'O', 'hammersmith & city': 'H', 'jubilee': 'J', 'metropolitan': 'M', 'northern': 'N', 'piccadilly': 'P', 'victoria': 'V', 'waterloo & city': 'W', 'district': 'D'}

In [9]:
# replacing the name of the lines with their respective codes
lines = []

for line in stations_df['lines'].to_list():
        temp_s = ""
        for l in tube_lines:
                if l in line.lower():
                        temp_s = temp_s + tube_lines_dict[l]
        lines.append(temp_s)


stations_df['lines'] = lines

In [10]:
stations_df.head()

,station,lines,local_authority,fare_zone,opened_on,annual_usage,area_served,url
station_id,,,,,,,,
0,Acton Town,DP,Ealing,3,1 Jul 1879,4.93,Acton,https://www.google.com/maps?q=Acton+Town+Under...
1,Aldgate,OM,City of London,1,18 Nov 1876,6.90,Portsoken,https://www.google.com/maps?q=Aldgate+Undergro...
2,Aldgate East,DH,Tower Hamlets,1,6 Oct 1884,10.23,Whitechapel,https://www.google.com/maps?q=Aldgate+East+Und...
3,Alperton,P,Brent,4,28 Jun 1903,2.30,Alperton,https://www.google.com/maps?q=Alperton+Undergr...
4,Amersham,M,Buckinghamshire,9,1 Sep 1892,1.66,Amersham,https://www.google.com/maps?q=Amersham+Undergr...

In [11]:
# collecting the unclean numbers from annual_usage column
bad_num = []
for num in stations_df['annual_usage'].to_list():
        try:
                float(num)
        except:
                bad_num.append(num)

In [12]:
# cleaning the unclean numbers
correct_num = []
for num in stations_df['annual_usage'].to_list():
        correct_num.append(float(re.sub("\[.*?\]","",num)))

In [13]:
# replacing the unclean numbers with clean numbers in annual_usage
stations_df['annual_usage'] = correct_num
stations_df.head()

,station,lines,local_authority,fare_zone,opened_on,annual_usage,area_served,url
station_id,,,,,,,,
0,Acton Town,DP,Ealing,3,1 Jul 1879,4.93,Acton,https://www.google.com/maps?q=Acton+Town+Under...
1,Aldgate,OM,City of London,1,18 Nov 1876,6.90,Portsoken,https://www.google.com/maps?q=Aldgate+Undergro...
2,Aldgate East,DH,Tower Hamlets,1,6 Oct 1884,10.23,Whitechapel,https://www.google.com/maps?q=Aldgate+East+Und...
3,Alperton,P,Brent,4,28 Jun 1903,2.30,Alperton,https://www.google.com/maps?q=Alperton+Undergr...
4,Amersham,M,Buckinghamshire,9,1 Sep 1892,1.66,Amersham,https://www.google.com/maps?q=Amersham+Undergr...

In [14]:
# checking for null values
stations_df.isnull().any()

station            False
lines              False
local_authority    False
fare_zone          False
opened_on          False
annual_usage       False
area_served        False
url                False
dtype: bool

In [15]:
stations_df.head()

,station,lines,local_authority,fare_zone,opened_on,annual_usage,area_served,url
station_id,,,,,,,,
0,Acton Town,DP,Ealing,3,1 Jul 1879,4.93,Acton,https://www.google.com/maps?q=Acton+Town+Under...
1,Aldgate,OM,City of London,1,18 Nov 1876,6.90,Portsoken,https://www.google.com/maps?q=Aldgate+Undergro...
2,Aldgate East,DH,Tower Hamlets,1,6 Oct 1884,10.23,Whitechapel,https://www.google.com/maps?q=Aldgate+East+Und...
3,Alperton,P,Brent,4,28 Jun 1903,2.30,Alperton,https://www.google.com/maps?q=Alperton+Undergr...
4,Amersham,M,Buckinghamshire,9,1 Sep 1892,1.66,Amersham,https://www.google.com/maps?q=Amersham+Undergr...

In [3]:
# creating a connection with database
conn = psycopg2.connect(
    database='tfl_database',
    user='postgres',
    password='Hemanthkumar#1',
    host='localhost',
    port='5432'
)

In [4]:
# creating a cursor object
cursor = conn.cursor()

# creating an engine
engine = create_engine('postgresql+psycopg2://postgres:Hemanthkumar#1@localhost:5432/tfl_database')

In [18]:
# uploading the dataframe to postgresql
stations_df.to_sql('underground_stations', engine, if_exists='replace')

In [5]:
# testing if the data is uploaded to the dataframe
# executing the script
cursor.execute('SELECT * FROM underground_stations')

# fetching the table
table = cursor.fetchall()

station_df = pd.DataFrame(table)
station_df.columns = ['station_id', 'station', 'lines', 'local_authority', 'fare_zone', 'opened_on', 'annual_usage', 'area_served', 'url']
station_df.set_index('station_id', inplace=True)
station_df.head()

<h2>Preprocessing part 2</h2>

In [5]:
# creating a connection with database
conn = psycopg2.connect(
    database='tfl_database',
    user='postgres',
    password='Hemanthkumar#1',
    host='localhost',
    port='5432'
)

In [6]:
# creating a cursor object
cursor = conn.cursor()

In [7]:
# executing the script
cursor.execute('SELECT * FROM underground_stations')

# fetching the table
table = cursor.fetchall()

station_df = pd.DataFrame(table)
station_df.columns = ['station_id', 'station', 'lines', 'local_authority', 'fare_zone', 'opened_on', 'annual_usage', 'area_served', 'url']
station_df.set_index('station_id', inplace=True)
station_df.head()

,station,lines,local_authority,fare_zone,opened_on,annual_usage,area_served,url
station_id,,,,,,,,
0,Acton Town,DP,Ealing,3,1 Jul 1879,4.93,Acton,https://www.google.com/maps?q=Acton+Town+Under...
2,Aldgate East,DH,Tower Hamlets,1,6 Oct 1884,10.23,Whitechapel,https://www.google.com/maps?q=Aldgate+East+Und...
3,Alperton,P,Brent,4,28 Jun 1903,2.30,Alperton,https://www.google.com/maps?q=Alperton+Undergr...
4,Amersham,M,Buckinghamshire,9,1 Sep 1892,1.66,Amersham,https://www.google.com/maps?q=Amersham+Undergr...
5,Angel,N,Islington,1,17 Nov 1901,12.37,Angel,https://www.google.com/maps?q=Angel+Undergroun...

In [12]:
type(station_df['opened_on'][1])

str

In [14]:
station_df.sort_index(axis=0)

,station,lines,local_authority,fare_zone,opened_on,annual_usage,area_served,url
station_id,,,,,,,,
0,Acton Town,DP,Ealing,3,1 Jul 1879,4.93,Acton,https://www.google.com/maps?q=Acton+Town+Under...
1,Aldgate,OM,City of London,1,18 Nov 1876,6.90,Portsoken,https://www.google.com/maps/place/Aldgate/@51....
2,Aldgate East,DH,Tower Hamlets,1,6 Oct 1884,10.23,Whitechapel,https://www.google.com/maps?q=Aldgate+East+Und...
3,Alperton,P,Brent,4,28 Jun 1903,2.30,Alperton,https://www.google.com/maps?q=Alperton+Undergr...
4,Amersham,M,Buckinghamshire,9,1 Sep 1892,1.66,Amersham,https://www.google.com/maps?q=Amersham+Undergr...
...,...,...,...,...,...,...,...,...
267,Wimbledon Park,D,Merton,3,3 Jun 1889,1.70,Wimbledon,https://www.google.com/maps/place/Wimbledon+Pa...
268,Wood Green,P,Haringey,3,19 Sep 1932,9.12,Wood Green,https://www.google.com/maps?q=Wood+Green+Under...
269,Wood Lane,OH,Hammersmith and Fulham,2,12 Oct 2008,4.13,Shepherd's Bush,https://www.google.com/maps?q=Wood+Lane+Underg...
270,Woodford,C,Redbridge,4,14 Dec 1947,4.24,Woodford,https://www.google.com/maps?q=Woodford+Undergr...
271,Woodside Park,N,Barnet,4,12 Apr 1940,3.47,Woodside Park,https://www.google.com/maps?q=Woodside+Park+Un...

In [ ]:
dates =

In [33]:
# getting the dates in required format
clean_dates = []
for date in dates:
        dt = re.sub(r'\[.*?\]', '', date)
        element = datetime.datetime.strptime(dt,"%d %b %Y")
        
        clean_dates.append(element.strftime('%d-%m-%Y'))

In [35]:
# converting the dates to a dataframe
dates_df = pd.DataFrame(clean_dates)

dates_df.index.name = 'index'
dates_df.columns = ['date']

dates_df.head()

             date
index
0      01-07-1879
1      18-11-1876
2      06-10-1884
3      28-06-1903
4      01-09-1892

In [38]:
# code to update the changes
j = 0

for i in dates_df.index:
        #print("____test____")
        date = dates_df.at[i, 'date']
        
        sql = 'UPDATE underground_stations SET opened_on = ' + "'" + date + "'" + " WHERE station_id = " + str(i) + ";"


        
        # sql = 'UPDATE underground_stations SET url = ' + "'" + good_urls.at[i, 'url'] + "'" + " WHERE station_id = " + str(i) + ";"
        #print(sql)
        j = j+1
        cursor.execute(sql)

print(j)

272

In [39]:
# code to check if the changes are made
# executing the script
cursor.execute('SELECT * FROM underground_stations')

# fetching the table
table = cursor.fetchall()

test_df = pd.DataFrame(table)
test_df.columns = ['station_id', 'station', 'lines', 'local_authority', 'fare_zone', 'opened_on', 'annual_usage', 'area_served', 'url']
test_df.set_index('station_id', inplace=True)
test_df.head()

,station,lines,local_authority,fare_zone,opened_on,annual_usage,area_served,url
station_id,,,,,,,,
44,Charing Cross,BN,City of Westminster,1,10-03-1906,13.66,Charing Cross,https://www.google.com/maps?q=Charing+Cross+Un...
152,Morden,N,Merton,4,13-09-1926,7.68,Morden,https://www.google.com/maps?q=Morden+Undergrou...
0,Acton Town,DP,Ealing,3,01-07-1879,4.93,Acton,https://www.google.com/maps?q=Acton+Town+Under...
1,Aldgate,OM,City of London,1,18-11-1876,6.90,Portsoken,https://www.google.com/maps/place/Aldgate/@51....
2,Aldgate East,DH,Tower Hamlets,1,06-10-1884,10.23,Whitechapel,https://www.google.com/maps?q=Aldgate+East+Und...

In [40]:
# commiting the changes
conn.commit()

# Closing cursor
cursor.close()

# closing connection
conn.close()